<header class="header" id="site-header">
    <div class="header-container container">
        <a href="index.html#home" class="logo-mob-link">
        <img src="/img/logo/logo-mob.png" alt="Logo" loading="lazy"></a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 7H23" stroke="#FFCC5A" stroke-width="3" stroke-linecap="round" />
            <path d="M5 14H23" stroke="#FFCC5A" stroke-width="3" stroke-linecap="round" />
            <path d="M5 21H23" stroke="#FFCC5A" stroke-width="3" stroke-linecap="round" />
        </svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#about">About</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#features">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#home">
                        <img src="/img/logo/logo-desk.png" alt="Logo">
                    </a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#scatter">Scatter Symbol</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#demo">Game</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li><a class="menu-list-item" href="./#home">Home</a></li>
        <li><a class="menu-list-item" href="./#about">About</a></li>
        <li>
            <a class="menu-list-item" href="./#features">Features</a>
        </li>
        <li><a class="menu-list-item" href="./#scatter">Scatter Symbol</a></li>
        <li><a class="menu-list-item" href="./#demo">Game</a></li>
        <li><a class="menu-list-item" href="terms.html">Terms & Conditions</a></li>
        <li><a class="menu-list-item" href="privacy.html">Privacy Policy</a></li>
        <li><a class="menu-list-item" href="cookies.html">Cookies Policy</a></li>
    </ul>
</div>
