body{
  background: #063a01;
  font-family: "Niramit", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
}
h2{
  font-family: "Niramit", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.08333;
    text-align: center;
    color: #fff;
}
.span{
  font-family: "Niramit", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #fffd1f;
}
@media only screen and (min-width: 1439px) {
  
}