.footer {
    background: #051901;
}

.footer-container {
    padding: 40px 32px;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2px;
font-size: 14px;
    margin-bottom: 32px;
    margin-top: 10px;
}
.footer-links-desk {
    display: none;
}

.footer-links {
    display: block;
    width: 122px;
        height: 76px;
        margin-left: auto;
        margin-right: auto;
}
.footer-mob{
    width: 100%;
    height: auto;
}
.footer-text {
    font-size: 12px;
    text-align: center;
}

@media only screen and (min-width: 1439px) {
    .footer-container {
        padding: 46px 230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-navigation {
        font-size: 16px;
        margin-bottom: 0;
       
    }
    .link-terms{
        text-decoration: underline;
    }

    .footer-text {
        font-size: 14px;
    }
    .footer-links{
        display: none;
    }
    .footer-links-desk{
        display: block;
    }
}