.header {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: #063a01;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.header-container {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
}
.logo-mob-link{
    display: block;
}
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: inherit;
    margin-right: 10px;
    margin-left: auto;
}

.navigation-list {
    display: none;
}

/* Modal */
.modal {
    display: none;
    backdrop-filter: blur(22px);
    background: #063a01;
    width: 374px;
    height: auto;
    z-index: 1000;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 86px 40px 36px;
    transition: visibility 0.3s ease;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
}

.menu-list-item {
    font-size: 15px;
transition: color 0.3s easy;
}

.menu-list-item:hover {
    color: #ff9d00;;
}

@media screen and (min-width: 1440px) {
    .header {
        width: 100%;
        height: 122px;
    }
    .header-container{
     
        justify-content: center;
    }
.logo-mob-link{
    display: none;
}
    .menu-button {
        display: none;
    }

    .navigation-list {
        display: flex;
        align-items: center;
            justify-content: center;
        gap: 40px;
    }

    .header-container {
        padding: 16px 63px;
    }

    .navigation-item {
    font-size: 18px;
        transition: color 0.3s easy;
    }

    .navigation-item:hover,
    .navigation-item:active {
        color: #ff9d00;
    }
}