.hero-section{
    background-image: url("/img/hero/back-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 899px;
}
.hero-container{
    padding-top: 108px;
    padding-bottom: 250px;
}
.hero-title{
    font-family: "Niramit", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        text-align: center;
        color: #fff;
}
.hero-text{
    margin-top: 28px;
        font-size: 28px;
        line-height: 1.14286;
        text-align: center;
margin-bottom: 32px;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: inline-block;
    width: 338px;
    height: auto;
}
@media only screen and (min-width: 1439px) {
    .hero-section{
        background-image: url("/img/hero/back-desk.png");
        height: 800px;
    }
    .hero-container{
        padding-top: 156px;
        padding-bottom: 133px;
    }
    .hero-title{
        width: 572px;
        margin-left: auto;
        margin-right: auto;
            font-size: 68px;
            line-height: 1.05882;
    }
    .hero-text{
        margin-top: 32px;
        width: 572px;
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
            margin-bottom: 48px;
    }
    .hero-button{
        margin-left: auto;
            margin-right: auto;
        width: 391px;
        display: block;
    }
}
.disclaimer-section{
    background-image: url("/img/disckaimer/disc-mob.png"), linear-gradient(180deg, #0e6800 97.12%);
    background-position: top center, top center;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
}
.disclaimer-title{
        line-height: 1.16667;
        color: #fffd1f;
        text-align:left;
}
.disclaimer-text{
    margin-top: 24px;
        font-weight: 275;
        font-size: 28px;
        line-height: 1.14286;
        text-transform: uppercase;
        color: #fff;
}
.white{
    font-weight: 700;
}
@media only screen and (min-width: 1439px) {
.disclaimer-section {
        background-image: url("/img/disckaimer/disc-desk.png"), linear-gradient(180deg, #0e6800 97.12%);

    }
    .disclaimer-text{
font-size: 36px;
    }
}
