.hero-section{
    background-image: url("/img/hero/back-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 899px;
}
.hero-container{
    padding-top: 108px;
    padding-bottom: 250px;
}
.hero-title{
    font-family: "Niramit", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        text-align: center;
        color: #fff;
}
.hero-text{
    margin-top: 28px;
        font-size: 28px;
        line-height: 1.14286;
        text-align: center;
margin-bottom: 32px;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: inline-block;
    width: 338px;
    height: auto;
}
@media only screen and (min-width: 1439px) {
    .hero-section{
        background-image: url("/img/hero/back-desk.png");
        height: 800px;
    }
    .hero-container{
        padding-top: 156px;
        padding-bottom: 133px;
    }
    .hero-title{
        width: 572px;
        margin-left: auto;
        margin-right: auto;
            font-size: 68px;
            line-height: 1.05882;
    }
    .hero-text{
        margin-top: 32px;
        width: 572px;
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
            margin-bottom: 48px;
    }
    .hero-button{
        margin-left: auto;
            margin-right: auto;
        width: 391px;
        display: block;
    }
}
.disclaimer-section{
    background-image: url("/img/disckaimer/disc-mob.png"), linear-gradient(180deg, #0e6800 97.12%);
    background-position: top center, top center;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
}
.disclaimer-title{
        line-height: 1.16667;
        color: #fffd1f;
        text-align:left;
}
.disclaimer-text{
    margin-top: 24px;
        font-weight: 275;
        font-size: 28px;
        line-height: 1.14286;
        text-transform: uppercase;
        color: #fff;
}
.white{
    font-weight: 700;
}
@media only screen and (min-width: 1439px) {
.disclaimer-section {
        background-image: url("/img/disckaimer/disc-desk.png"), linear-gradient(180deg, #0e6800 97.12%);

    }
    .disclaimer-text{
font-size: 36px;
    }
}
.about-section{
    background-image: url("/img/about/about-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 908px;
}
.about-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
@media only screen and (min-width: 1439px) {
.about-section {
        background-image: url("/img/about/about-desk.png");
height: 618px;
    }
    .about-container{
        padding: 100px 120px;
    }
    .about-title{
        text-align: left;
    }
    .about-wrapper{
        margin-top: 60px;
        width: 587px;
    }
}
.features-section{
    background-image: url("/img/features/features-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 612px;
}
.features-text{
    margin-top: 40px;
}
.features-wrapper{
    margin-top: 28px;
    display: flex;
    gap: 16px;
   
}
.features-text-two{
    width: 241px;
}
@media only screen and (min-width: 1439px) {
.features-section{
    background-image: url("/img/features/features-desk.png");
    height: 586px;
}
.features-text{
    margin-right: 158px;
    margin-left: auto;
    width: 609px;
}
.features-wrapper{
    margin-top: 70px;
    margin-right: 40px;
    margin-left: auto;
    width: 835px;
    gap: 44px;
}
.features-text-two{
    width: 655px;
}
}
.scatter-section{
    background-image: url("/img/scatter/scatter-mob.png");
        background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            height: 1041px;
}
.scatter-text{
    margin-top: 40px;
    margin-bottom: 16px;
    color: #fffd1f;
}
.span-white{
    font-weight: 700;
}
@media only screen and (min-width: 1439px) {
 .scatter-section{
    background-image: url("/img/scatter/scatter-desk.png");
    height: 627px;
 }
 .scatter-container{
    padding: 100px 122px;
 }
 .scatter-title{
    text-align: left;
 }
 .scatter-text{
    margin-top: 60px;
    width: 655px;
 }
 .scatter-text-two{
width: 655px;
 }
}
.demo-section{
    background-image: url("/img/game/game-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.game-img {
    width: 100%;
    display: block;
}

/* iframe поверх картинки */
.iframe-wrapper {
    position: absolute;
    top: 7%;
    /* під екран у картинці */
    left: 40%;
    transform: translateX(-54%);
    width: 68%;
    height: 54%;
    z-index: 5;
}

#gameIframe {
    width: 138%;
    height: 160%;
    border: none;
    display: none;
    background: #000;
}

#closeIframeBtn {
    position: absolute;
    top: 10px;
    right: -80px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10;
}
.game-img{
    margin-top: 40px;
    margin-bottom: 32px;
}
@media only screen and (min-width: 1439px) {
  .demo-section{
    background-image: url("/img/game/game-desk.png");
  }
  .game-img{
   margin: 60px auto 20px;    
  }
  .demo-btn{
    width: 357px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}